*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}
.button {
  width: 98px;
  height: 30px;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 5px 3px 1px #bdbcbc;
  cursor: pointer;
}

#green {
    background-color: #00cd00;
}
#yellow {
    background-color: #e3e700;
}
#red {
    background-color: #ce0000;
}
#automatic {
  background-color: #ff0073;
}